@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

body{
    background-color: #F4E1C1 !important;
}

#ingInput{
    width: 450px; 
    height: 50px; 
    margin-top: 50px; 
    border: 2px black solid;
    border-radius: 16px;
    background-color: #E6E6E6 !important;
}

#titleRow{
    margin-top: 50px;
}

#title{
    color: #4CAF50;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    margin-top: 100px;
}

#title-card{
    width: 500px;
}

#slogan{
    font-family: 'Roboto', sans-serif;
    color: black;
}

#searchButton{
    margin-top:25px;
    background-color: #4CAF50;
    border-radius: 8px;
    height:30px;
    width: 175px;
}


#searchButton:hover{
    background-color: #43994A;
}

#addIng:hover{
    background-color: #43994A;
}

#removeIng:hover{
    background-color: #43994A;
}

#addIng{
    margin-top: 25px;
    width: 150px;
    background-color: #4CAF50;
    border-radius: 8px;
}

#removeIng{
    margin-top: 25px;
    width: 155px;
    background-color: #4CAF50;
    border-radius: 8px;
}

#ingredientList{
    list-style-type: none; 
    background-color: white; 
    height: 500px; 
    width: 400px; 
    margin: 0 auto; 
    margin-top: 10px;
    border-radius: 16px;
    border: 2px black solid;
    text-align: center;
    padding: 0;
    font-size: 30px;
}

#btpBtn{
    width: 100px;
    border-radius: 16px;
    background-color: #4CAF50;
    margin-top: 10px;
}

#btpBtn:hover{
    background-color: #43994A;
    
}
